.title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: $textColor;
    line-height: 150%;
    letter-spacing: 1px;
    max-width: 600px;
    margin: 0 auto;
}